.patient-data{
    font-size: 0.9rem;
    margin-top: 2vh;
    margin-left: 4vw;
    height: 100%;
}

.patient-data img{
    width: 600px;
}

.patient-data p{
    font-size: 1.2rem;
    font-weight:normal;
}

.graph-rates p{
    text-align: center;
}

.stats-input input{
    display: inline-block;
    margin-bottom: 1vh;
}

.stats-input{
    display: flex;
    justify-content: center;
    gap: 1vw;
}

