<h2>{{ title }}</h2>
<div *ngIf="selectedQuizId && selectedQuizId!=''" class="graph-selectors">
  <label> Filtre :
    <select [(ngModel)]="filter" #filterSelect
            (change)="selectedGraphType($any(filterSelect.value),$any(dataTypeSelect.value))"
            name="graph-select">
      <option [value]="StatsFilter.TRY">Tentatives</option>
      <option [value]="StatsFilter.QUESTION">Questions</option>
    </select>
  </label>
  <label> Type de donnée :
    <select [(ngModel)]="dataType" #dataTypeSelect
            (change)="selectedGraphType($any(filterSelect.value),$any(dataTypeSelect.value))"
            name="graph-select">
      <option [value]="DataType.SUCCESS">Taux de réussite</option>
      <option [value]="DataType.TIME">Temps</option>
    </select>
  </label>
</div>
<div class="stats-container" [style.visibility]="dataAvailable ? 'visible': 'hidden'">
  <canvas id="stat-chart">{{ chart }}</canvas>
</div>
