:host{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.graph-selectors {
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 1.4em;

  label:last-child {
    margin-left: 2em;
  }
}

#stat-chart {
  height: 310px;
  width: 800px;
}
