.quizz-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 4rem;
}


.quizz-main{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    height: 100%;
}
