header {
  position: fixed;
  background-color: #1B2A57;
  width: calc(100vw - 2rem);
  height: calc(1em + 2rem);
  padding: 1rem;
  gap: 1rem;
  z-index: 1;

  display: grid;
  grid-template: 1fr / 170px 1fr;
  align-items: center;

  #banner {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
