header {
  position: fixed;
  background-color: #1B2A57;
  width: calc(100vw - 2rem);
  height: 2rem;
  padding: 1rem;
  gap: 1rem;

  display: grid;
  grid-template: 1fr / 210px 1fr 210px;

  img {
    height: 100%;
  }
}
