@use 'sass:color';
@import "/styles";

:host {
  border-radius: .5rem;
  padding: .5em;
  background-color: $white;
  border: 1px solid color.scale($white, $lightness: -5%);
  display: flex;
  gap: .5em;

  &.ng-invalid, &:has(.ng-invalid) {
    border-color: $darkRed;
    color: color.scale($darkRed, $lightness: -5%);
  }

  &:focus-within {
    outline: 1px solid $blue;
  }
}

input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: -0.5em 0;
  color: black;
  font-size: 1em;
}
