<article>
  <h2>Choix des statistiques</h2>
  <select name="quizz-select" id="quizz-select">
    <option value="all">Tous les quizz</option>
    @for (quiz of quizzes;track quiz){
      <option value="{{ quiz.id }}">{{ quiz.name }}</option>
    }
  </select>
  <select name="type-select" id="type-select">
    <option value="all">Tous les types de questions</option>
    @for (questionType of questionTypes;track questionType){
      <option value="{{ questionType }}">{{ questionType }}</option>
    }
  </select>
  <p>Taux de réussite : {{ successRate }}%</p>
  <p>Pourcentage de succès par question : {{ questionSuccessRate }}%</p>
  <p>Proportion de réponses assistées : {{ assistedQuestionRate }}%</p>
  <p>Temps passé sur le quizz : {{ spentTime }} minutes</p>
</article>
