<div id="lecture-button">
  <audio src="assets/The Rolling Stones - Paint It, Black .mp3"></audio>
  <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="rgb(0, 45, 129)" class="bi bi-play-circle" viewBox="0 0 16 16" id="play-button">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
    <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pause-circle" viewBox="0 0 16 16" id="pause-button">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
    <path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0z"/>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-stop-circle" viewBox="0 0 16 16" id="stop-button">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
    <path d="M5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5z"/>
  </svg>
</div>

<div id="timer-bar">
  <input type="range" name="" id="track" min="0" value="0">
  <span id="elapsed">0:00</span> / <span: id="tracktime">1:00</span:>
</div>

<div id="volume">
  <input type="range" id="volume-bar" min="0" max="1" value="0" step="0.01">
  <span id="volume-value">100%</span>
</div>

<p id="sound-click">Cliquez sur moi pour lancer le son</p>
