@use 'sass:color';
@import "/styles";

.attempt-summary {
  display: flex;
  flex-direction: column;

  .main-part {
    display: grid;
    grid-template: 2.5em 5em / 10em 1fr 7em;
    gap: .25em;
    margin: .5rem;
  }

  .detail {
    grid-row: 1/3;
    grid-column: 3;
  }
}



