<!--TODO check if the file could be slice in component and add stats-->

<div class="attempt-summary">
  <div class="questions" *ngFor="let question of quiz!.questions; index as indexQuestion">
    <div class="main-part">
      <div class="switch" [ngSwitch]="Number(question.type)">
        <div class="textuelle" *ngSwitchCase="QuestionType.TextOnly">
          <p>Textuelle</p>
        </div>
        <div class="visuelle" *ngSwitchCase="QuestionType.Image">
          <p>Visuelle</p>
        </div>
        <div class="sonore" *ngSwitchCase="QuestionType.Sound">
          <p>Sonore</p>
        </div>
      </div>
      <app-input class="question" [icon]="faQuestion" [value]="question.text" [disable]="true"/>

      <detail-button (detail)="setDetail(indexQuestion)"/>

      <div class="switch2" [ngSwitch]="Number(question.type)">
        <div class="visuelle2" *ngSwitchCase="QuestionType.Image">
          <app-image [src]="question.imageUrl" [alt]="'image'"/>
        </div>
        <div class="sonore2" *ngSwitchCase="QuestionType.Sound">
          <app-play-button *ngIf="question.soundUrl" [src]="question.soundUrl"/>
      </div>
    </div>
  </div>
    <div class="details-part">
      <div class="answers" *ngIf="detail[indexQuestion]">
        <ng-template ngFor let-answer [ngForOf]="question.answers">
          <app-input class="red" [icon]="faReply" [(value)]="answer.answerText" [disable]="true" *ngIf="chosen(question.id, answer) && !answer.trueAnswer"/>
          <app-input class="green" [icon]="faReply" [(value)]="answer.answerText" [disable]="true" *ngIf="answer.trueAnswer"/>
          <app-input [icon]="faReply" [(value)]="answer.answerText" [disable]="true" *ngIf="!chosen(question.id, answer) && !answer.trueAnswer"/>
        </ng-template>
      </div>
    </div>
  </div>

</div>
