@import "../../../styles";

div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;


  a{
    text-decoration: underline;
  }

  a:hover{
    color: $grey1;
  }
}
