@import "/colors";

.patient-header {
  display: flex;
  align-items: center;
  height: 10rem;
  border-bottom: 1px solid $blue;
  min-height: 150px;

  .patient-picture {
    border-radius: 50%;
    border-color: white;
    margin-left: 3vw;
    overflow: hidden;
    width: 150px;
    height: 150px;
  }

  .patient-info {
    margin: 1em;
    display: grid;
    gap: .75em;
    align-items: normal;
    grid-template: auto auto / auto auto;

    * {
      margin: 0;
    }
  }

  h1 {
    color: $blue;
    margin: auto;
  }

  #delete-button, #edit-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding: 0;
    margin-left: 3vw;
  }


}
