<div class="patient-header">
  @if (edit || !user) {
    <info-form id="form" (patientInfoChange)="updatePatientInfo()" [user]="user"/>
  } @else {
    <div class="patient-picture">
      <app-image-input [src]="user.pictureUrl" [alt]="'Profile picture'" [width]="150" [height]="150"/>
    </div>
    <div class="patient-info">
      <h2 *ngIf="user">{{ user.lastname }}</h2>
      <h2 *ngIf="user">{{ user.firstname }}</h2>
      <strong *ngIf="user">{{ user.age }} ans</strong>
    </div>
    <edit-button (editButtonClick)="editPatientInfo()"/>
  }
  <h1 *ngIf="!user"> Création d'un nouvel utilisateur</h1>
</div>
