<div class="patient-header">
  @if (edit || !patient) {
    <info-form id="form" (patientInfoChange)="editPatientInfo()" [user]="patient"/>
  } @else if (delete) {
    <h1> Voulez-vous supprimer l'utilisateur {{ patient.firstname }} ?</h1>
    <app-button id="check-button" (click)="deletePatient()" [color]="'blue'">
      <fa-icon [icon]="faCheck" size="2x" id="check-icon"/>
    </app-button>
    <app-button id="xmark-button" (click)="displayDelete()" [color]="'red'">
      <fa-icon [icon]="faXmark" size="2x" id="xmark-icon"/>
    </app-button>
  } @else {
    <app-image class="patient-picture" [src]="patient.pictureUrl ?? getDefaultProfilePicture(patient.gender)" [alt]="'Profile picture'" [width]="150"
               [height]="150"/>
    <div class="patient-info">
      @if (patient) {
        <h2>{{ patient.lastname + " " + patient.firstname }}</h2>
        <div class="age-gender">
          <strong>{{ patient.birthDate | age }} ans</strong>
          <fa-icon class="{{ patient.gender }}" [icon]="getFaIcon(patient.gender)"/>
        </div>
      }
    </div>
    <app-button id="edit-button" (click)="editPatientInfo()" [color]="'blue'">
      <fa-icon [icon]="faEdit" size="2x" id="edit-icon"/>
    </app-button>
    <app-button id="delete-button" (click)="displayDelete()" [color]="'red'">
      <fa-icon [icon]="faTrash" size="2x" id="delete-icon"/>
    </app-button>
  }
</div>
