<div class="stats">
  <p [class]="question.numberOfAttempts >= 2 ?'partiallySucceed' : 'succeed'" *ngIf="question.success">
    {{ question.numberOfAttempts >= 2 ? 'Question partiellement réussie' : 'Question réussie' }}</p>
  <p class="notSucceed" *ngIf="!question.success">Question non réussie</p>
  <p>Temps passé sur cette question : {{ getTimeSpent() }} minutes</p>
  <p *ngIf="user?.removeAnswers || question.attempts.length > 1">Nombre de tentatives : {{ question.numberOfAttempts }}</p>
  <p [ngStyle]="{'grid-column': this.user.removeAnswers || question.attempts.length > 1 ? '1/4' : 'auto'}"
     *ngIf="user?.answerHint || answerHintUse">{{ fiftyFiftyUse() ? '50/50 utilisé pour cette question' : '50/50 non utilisé pour cette question' }}</p>
</div>

