header {
	position: fixed;
	background-color: #1B2A57;
	width: calc(100vw - 2rem);
	height: 2rem;
	padding: 1rem;
	display: flex;
	gap: 1rem;
}

header img {
	height: 100%;
}

header ~ main {
	margin-top: 4rem;
}