@import "/colors";

.accessibility_div {
  border: solid;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $blue;
  p {
    color: white;
    font-size: 35px;
  }
  &:hover {
    background-color: $topazBlue;
  }
}

