@import "/styles";

.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  .volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
  }

  app-button {
    margin-top: 1em;
  }
}
