@import "../../../styles";

.patient-nav{
  gap: 0;

  a{
    display: inline-block;
    padding: 0.5em 0.7em 0.5em 0.7em;
    border : 1px solid $blue;
    font-size: 0.9rem;
    color:black;
    border-left: 0;
    border-bottom: 0;
  }

  a:first-child{
    border-left: 1px solid $blue;
  }

  a:hover{
    background-color: rgb(232, 232, 232);
  }
}

