@import "/styles";

section {
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  justify-items: center;
  padding-top: 1rem;

  .answer-button {
    border: 2px solid $blackBlue;
    background-color: $yellow1;
    width: 98%;
    height: 90%;
    border-radius: 10px;
    margin: auto;
    padding: 0.5%;
    text-align: center;
    font-size: 0.90em;

    &:hover {
      background-color: $yellow2;
    }
  }
}
