@import "../../../styles";

section {
  height: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  justify-items: center;
  padding-top: 1rem;


  .answer-button {
    border: 2px solid $blackBlue;
    background-color: $yellow1;
    width: 98%;
    height: 90%;
    border-radius: 10px;
    font-size: 3rem;
    margin: auto;
    padding: 1rem;
    text-align: center;

    &:hover {
      background-color: $yellow2;
    }
  }
}
