@use 'sass:color';
@import "/colors";

.type {
  height: 100%;
}

.questionType {
  margin: 0;
  text-align: center;
  align-content: center;
  height: calc(100% - 1.5px);
  border-radius: .5rem;
  font-size: 90%;
  background-color: $white;
  border: 1px solid color.scale($white, $lightness: -5%);
}
