.image-container {
  width: inherit;
  height: inherit;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;

    object-fit: cover;
    flex-shrink: 1;
  }
}
