.quizz-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 5rem;
}

.quizz-main{
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    height: 100%;
}

.quizz-section img{
    display: inline-block;
    max-width: 50%;
}
