.patient-header {
    display: flex;
    align-items: center;
    margin-top: 4rem;  
    height: 9rem;  
    border-bottom: 1px solid rgb(0, 45, 129);
    min-height: 100px;
}

.patient-header img{
    height: 80%;
    margin-left: 3vw;
}

.patient-info {
    margin-left: 3vw;
    margin-top: 2vh;
    display: grid;
    align-items: normal;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.patient-info * {
    margin-top: 0;
}

.patient-info h1 {
    font-size: 1.5rem;
}

.patient-header h3{
    margin-top: 0.2rem;
    font-size: 1rem;
}