<div>
  <div *ngIf="question && !questionResult  && !finishOrInactive">
    <question-section image="{{question?.imageUrl}}" sound="{{question?.soundUrl}}" question="{{question?.text}}"/>
    <answers-section [values]="answers" (returnedAnswer)='checkAnswer($event)' (inactive)='stopQuiz()'/>
  </div>
  <app-question-result [goodAnswer]="trueAnswer" [correct]="correct" (continue)='continueQuiz()'
                       *ngIf="questionResult"/>
  <finish-page [title]="finishPageTitle" [text]="finishPageText" [textButton]="finishPageTextButton"
               (returnSelectionPage)="selectionPage()" *ngIf="finishOrInactive"/>
</div>
