<div class="quiz">
  <div [ngStyle]="{'font-size': user!.fontSize.toString()+'em'}" class="quiz-content">
    <app-header [homePage]="'/quiz'" [interactive]="false">
      <quiz-header [counter]="getCounter()" [quizTheme]="quiz?.title"
                   [numberOfQuestion]="questions.length" *ngIf="!isFinish()">
      </quiz-header>
    </app-header>
    <main>
      <sound-settings *ngIf="soundSetting" (soundSettingsFinish)="getGainToTransfer($event)"/>
      <app-quiz-section [question]="currentQuestion" [user]="user" [audioGain]="audioGain" [fiftyFiftyDisabled]="!fiftyFiftyEnabled"
                        [fiftyFiftyActivated]="user!.answerHint"
                        (chosenAnswer)="checkAnswer($event)" (fiftyFiftyUsed)="fiftyFifty()" (inactive)="setInactivity()"
                        *ngIf="!soundSetting && !questionResult && !isFinish()"/>
      <section class="spinner">
        <spinner [small]="false"/>
        <p>Vérification de la réponse</p>

      </section>
      <app-question-result [goodAnswer]="trueAnswerText" [correct]="check" [automatedSkip]="user!.automatedSkip" [finish]="isFinish()"
                           (continue)='nextQuestion()' *ngIf="questionResult && !finishPage"/>
      <finish-page [title]="inactivity ? 'Quiz terminé' : 'Bravo !'"
                   [text]="inactivity ? 'Le quiz a été clos automatiquement en raison d\'une longue période d\'inactivité.' : 'Vous avez terminé'"
                   [textButton]="'Revenir au menu'"
                   (returnSelectionPage)="returnSelectionPage()" *ngIf="finishPage"/>
    </main>
  </div>
</div>
