button {
    border : 2px solid #00090f;
    background-color: #F2E86D;
    width: 98%;
    height: 90%;
    border-radius: 10px;
    font-size: 3rem;
}

button:hover {
    background-color: #e5db6b;
}

button > p{
    margin: auto;
}
