<div class="hobbies-select">
  <h1>Centres d'intérêt</h1>
  <ng-select
    class="custom"
    [items]="data"
    [(ngModel)]="selectedItems"
    [addTag]="newTag"
    [multiple]="true"
    (add)="onAdd($event)"
    (remove)="onRemove($event)"
    (clear)="onRemoveAll()"
    placeholder="Sélectionner ou créer un tag">
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{ item }}
    </ng-template>
    <ng-template ng-tag-tmp let-search="searchTerm">
      Créer le tag : {{ search }}
    </ng-template>
  </ng-select>
</div>
