.hobbies-select {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh;

  h1 {
    margin-bottom: 8vh;
  }
}

ng-multiselect-dropdown {
  width: 40vw;
}
