<h2>Général</h2>
<div class="checkbox-wrapper-14">
  <input id="auto-scroll" type="checkbox" class="switch">
  <label for="auto-scroll">Défilement automatique</label>
</div>
<div class="checkbox-wrapper-14">
  <input id="incorrect-message" type="checkbox" class="switch">
  <label for="incorrect-message">Affichage réponse incorrecte</label>
</div>
<div class="checkbox-wrapper-14">
  <input id="fifty-fifty" type="checkbox" class="switch">
  <label for="fifty-fifty">Aide à la réponse (50/50)</label>
</div>

<h2>Auditif</h2>
<div class="checkbox-wrapper-14">
  <input id="auditive-question" type="checkbox" class="switch">
  <label for="auditive-question">Question auditive</label>
</div>
<div class="checkbox-wrapper-14">
  <input id="audio-launch" type="checkbox" class="switch">
  <label for="audio-launch">Lancement automatique audio</label>
</div>
