<patient-header [patient]="patient" *ngIf="!userId || patient"/>
<section class="patient-data" *ngIf="patient">
    <patient-navbar [currentTab]="tab" (tabToSwitch)="tab=$event"/>
    <section id="boxed-container" [ngSwitch]="tab">
      <information *ngSwitchCase="TabNavigation.INFORMATION" [patient]="patient"/>
      <statistics [patient]="patient" *ngSwitchCase="TabNavigation.STATISTICS"/>
      <history [user]="patient" *ngSwitchCase="TabNavigation.HISTORY"/>
    </section>
</section>
<spinner-section [text]="'Chargement du profil du patient'" *ngIf="!patient && userId"/>

