@import "/styles";


.question-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1%;
  text-align: center;
  height: 100%;

  #trueAnswer {
    background: $yellow1;
    border-radius: 10px;
    padding: 1%;
    min-width: 10%;
    border: 2px solid $blackBlue;
  }

  #nextQuestion {
    background: $yellow1;
    border-radius: 10px;
    margin-top: 1%;
    padding: 1%;
    border: 2px solid $blackBlue;
    text-decoration: underline;
  }

  #nextQuestion:hover {
    background-color: $yellow2;
  }
}
