@import "/styles";


.question-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10vh;
  text-align: center;
  height: 100%;

  #trueAnswer {
    background: #c8e86d;
    width: 98%;
    height: 90%;
    border-radius: 10px;
    border: 2px solid $blackBlue;
  }
}
