@use "sass:color";
@import "/colors";

.answers {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .25em;
  margin: 2rem;
}

.right {
  background-color: $green;
  border-color: color.scale($green, $lightness: -25%);
}

.notfound {
  background-color: color.scale($green, $lightness: 50%);
  border: 2px dashed color.scale($green, $lightness: -25%);
}

.wrong {
  background-color: $lightRed;
  border-color: color.scale($lightRed, $lightness: -25%);
}

.attempt {
  margin: 0.5rem 0.5rem 0;
}

.hidden {
  background-color: color.scale($grey, $lightness: 50%);
  border-color: color.scale($grey, $lightness: -25%);
}
