@import "../../../styles";

.answer-button {
  border : 2px solid $blackBlue;
  background-color: $yellow1;
  width: 98%;
  height: 90%;
  border-radius: 10px;
  font-size: 3rem;
  margin: auto;
  &:hover{
    background-color: $yellow2;
  }
}
