.quiz-stats {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0.5em;

  .title {
    text-decoration: underline;
    text-align: center;
  }
}

