:host{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  li{
    margin-top: 4vh;
    font-size: 0.9rem;
  }

  p{
    margin-bottom: 4vh;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
  }
}
