@import "/colors";

form {
  display: grid;
  grid-template: 200px / 300px 1fr;
  gap: 1em;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    input {
      background: none;
      border: none;
      outline: none;
      padding: 0;

      &#title {
        font-size: 2em;
        font-weight: bold;
      }

      &#theme {
        font-size: 1.25em;
      }
    }

    .actions {
      display: flex;
      align-content: start;
      gap: .5em;
    }
  }
}

hr {
  margin: 1.5em 0;
  border: 1px solid $darkBlue;
}

#questions {
  #questions-header {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;

    h2 {
      margin: 0;
      flex: 1;
    }
  }
}
