<form [formGroup]="form">
  <div class="extra">
    <select formControlName="type">
      <option *ngFor="let type of QuestionTypes | keyvalue" [value]="type.key">{{ type.value }}</option>
    </select>
    <div [ngSwitch]="form.value.type">
      <app-image-input *ngSwitchCase="QuestionType.Image" [src]="question.imageUrl" (onImageUpdate)="question.imageUrl = $event" formControlName="imageUrl"/>
      <div *ngSwitchCase="QuestionType.Sound">
        <app-file-input (valueChange)="question.soundUrl = $event" [accept]="'audio/*'" formControlName="soundUrl">
          <app-button>{{ question.soundUrl ? 'Changer le fichier' : 'Ajouter un fichier' }}</app-button>
        </app-file-input>
        <app-play-button *ngIf="question.soundUrl" [src]="question.soundUrl"/>
      </div>
    </div>
  </div>
  <app-input class="question" [icon]="faQuestion" [value]="question.text" (change)="question.text = $any($event.target).value" [placeholder]="'Entrez la question'"
             formControlName="text"/>
  <div class="answers" formArrayName="answers">
    <div *ngFor="let answer of answers.controls; index as i" [formGroupName]="i">
      <input type="hidden" formControlName="id">
      <app-input [icon]="faReply" [placeholder]="'Entrez la proposition ' + (i+1)" formControlName="answerText">
        <input type="radio" [checked]="answer.value.trueAnswer" [value]="i" (change)="changeTrueAnswer($any($event.target).value)" [name]="'trueAnswer-' + question.id"/>
        <fa-icon class="remove" [icon]="faTrash" (click)="removeAnswer(i)" *ngIf="answers.length > 2"/>
      </app-input>
    </div>
    <app-button [color]="'yellow'" [scale]="false" (click)="addAnswer()" *ngIf="answers.length < 4">Ajouter une proposition</app-button>
  </div>
  <div class="actions">
    <app-button class="save" [color]="'blue'" (click)="save()" [disabled]="!changed">
      <fa-icon [icon]="faSave"/>
    </app-button>
    <app-button class="delete" [color]="'red'" (click)="questionRemoved.emit()">
      <fa-icon [icon]="faTrash"/>
    </app-button>
  </div>
</form>
