form {
  display: grid;
  grid-template: 2.5em 5em / 10em 1fr auto;
  gap: .25em;
}

.extra {
  grid-column: 1;
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  gap: .25em;

  div {
    flex: 1;

    display: grid;
    grid-auto-rows: 1fr;

    &, * {
      min-height: 0;
      min-width: 0;
    }
  }
}

.question {
  grid-column: 2;
  grid-row: 1;
}

.answers {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .25em;

  fa-icon:hover {
    transform: scale(1.05);
  }
}

.actions {
  grid-column: 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template: 1fr / repeat(2, 2em);
  gap: .25em;

  & > * {
    width: 100%;
    height: 100%;
  }

  .delete {
    grid-column: 2;
  }
}
