@import "/styles";

section {
  position: relative;
  height: 100%;
  width: 100%;

  .answer-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 50px;
    justify-items: center;
    margin-top: 1rem;

    .answer-button {
      width: 100%;
      --buttonSize: 100%;
      --notchSizeHeight: 35%;
      --notchSizeWidth: 7%;
      --notchSizeHeigthDelta: 0%;

      span {
        font-size: 0.90em;
      }

      &:hover {
        --buttonSize: 105%;
        --notchSizeHeigthDelta: calc(var(--notchSizeHeight) / 2); /* Without this value, the point whose height changes will not be at the same height as before the scale */
      }

      &:nth-child(odd):last-child {
        grid-column: 1 / -1;
        //noinspection CssInvalidFunction
        clip-path: polygon(
          /* Top Left horizontal parameterized point */
            calc(100% - var(--buttonSize)) calc(100% - var(--buttonSize)),
            /* Points dedicated to the notch */
            45% calc(100% - var(--buttonSize)),
            48% calc(100% - var(--buttonSize) + var(--notchSizeHeight)),
            52% calc(100% - var(--buttonSize) + var(--notchSizeHeight)),
            55% calc(100% - var(--buttonSize)),
            /* Top-right */
            var(--buttonSize) calc(100% - var(--buttonSize)),
            var(--buttonSize) calc(100% - var(--buttonSize)),
            /* Bottom-right */
            var(--buttonSize) var(--buttonSize),
            var(--buttonSize) var(--buttonSize),
            /* Bottom-left */
            calc(100% - var(--buttonSize)) var(--buttonSize),
            calc(100% - var(--buttonSize)) var(--buttonSize),
            /* Top Left vertical parameterized point */
            calc(100% - var(--buttonSize)) calc(100% - var(--buttonSize))
        );
      }

      &.invisible {
        visibility: hidden;
      }

      &:nth-child(1) {
        //noinspection CssInvalidFunction
        clip-path: polygon(
          /* Top Left horizontal parameterized point */
            calc(100% - var(--buttonSize)) calc(100% - var(--buttonSize)),
            /* Top-right */
            var(--buttonSize) calc(100% - var(--buttonSize)),
            var(--buttonSize) calc(100% - var(--buttonSize)),
            /* Bottom-right */
            var(--buttonSize) calc(100% - var(--notchSizeHeigthDelta) - var(--notchSizeHeight)),
            calc(100% - var(--notchSizeWidth)) var(--buttonSize),
            /* Bottom-left */
            calc(100% - var(--buttonSize)) var(--buttonSize),
            calc(100% - var(--buttonSize)) var(--buttonSize),
            /* Top Left vertical parameterized point */
            calc(100% - var(--buttonSize)) calc(100% - var(--buttonSize))
        );
      }

      &:nth-child(2) {
        //noinspection CssInvalidFunction
        clip-path: polygon(
          /* Top Left horizontal parameterized point */
            calc(100% - var(--buttonSize)) calc(100% - var(--buttonSize)),
            /* Top-right */
            var(--buttonSize) calc(100% - var(--buttonSize)),
            var(--buttonSize) calc(100% - var(--buttonSize)),
            /* Bottom-right */
            var(--buttonSize) var(--buttonSize),
            var(--buttonSize) var(--buttonSize),
            /* Bottom-left */
            var(--notchSizeWidth) var(--buttonSize),
            calc(100% - var(--buttonSize)) calc(100% - var(--notchSizeHeigthDelta) - var(--notchSizeHeight)),
            /* Top Left vertical parameterized point */
            calc(100% - var(--buttonSize)) calc(var(--buttonSize) - 100% + var(--notchSizeHeight))
        );
      }

      &:nth-child(3):not(:last-child) {
        //noinspection CssInvalidFunction
        clip-path: polygon(
          /* Top Left horizontal parameterized point */
            calc(100% - var(--buttonSize)) calc(100% - var(--buttonSize)),
            /* Top-right */
            calc(100% - var(--notchSizeWidth)) calc(100% - var(--buttonSize)),
            var(--buttonSize) calc(100% - var(--buttonSize) + var(--notchSizeHeigthDelta) + var(--notchSizeHeight)),
            /* Bottom-right */
            var(--buttonSize) var(--buttonSize),
            var(--buttonSize) var(--buttonSize),
            /* Bottom-left */
            calc(100% - var(--buttonSize)) var(--buttonSize),
            calc(100% - var(--buttonSize)) var(--buttonSize),
            /* Top Left vertical parameterized point */
            calc(100% - var(--buttonSize)) calc(var(--buttonSize) - 100% + var(--notchSizeHeight))
        );
      }

      &:nth-child(4) {
        //noinspection CssInvalidFunction
        clip-path: polygon(
          /* Top Left horizontal parameterized point */
            var(--notchSizeWidth) calc(100% - var(--buttonSize)),
            /* Top-right */
            var(--buttonSize) calc(100% - var(--buttonSize)),
            var(--buttonSize) calc(100% - var(--buttonSize)),
            /* Bottom-right */
            var(--buttonSize) var(--buttonSize),
            var(--buttonSize) var(--buttonSize),
            /* Bottom-left */
            calc(100% - var(--buttonSize)) var(--buttonSize),
            calc(100% - var(--buttonSize)) var(--buttonSize),
            /* Top Left vertical parameterized point */
            calc(100% - var(--buttonSize)) calc(var(--notchSizeHeigthDelta) + var(--notchSizeHeight))
        );
      }
    }
  }
}

.fifty-fifty-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & p {
    margin: 0;

    &.hidden {
      height: 0;
      visibility: hidden;
    }
  }
}
