@import "/styles";

section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr 1fr 1fr);
  grid-auto-flow: row;
  gap: 25px;
  justify-items: center;
  margin-top: 1rem;

  .answer-button {
    width: 100%;
    height: 100%;
    grid-column: span 2;

    span {
      font-size: 0.90em;
    }

    &:nth-child(odd):last-child {
      grid-column: 2 / 4;
    }

    &.invisible {
      visibility: hidden;
    }
  }
}
