<section class="answer-section">
  <app-button class="fifty-fifty-button" [color]="'blue'" [borderRadius]="true"
              (click)="fiftyFifty()" *ngIf="fiftyFiftyActivated && !fiftyFiftyUsable">50/50
  </app-button>
  <div class="answer-grid">
    <app-button class="answer-button {{ answer.hide ? 'invisible' : ''}}"
                [scale]="answers.length == 3 && i==2 ? Scale.MEDIUM_SCALE : Scale.LARGE_SCALE"
                [padding]="answers.length==3 && i==2 ? Padding.ANSWER_THREE_FIFTY_FIFTY : Padding.OTHER_ANSWER_FIFTY_FIFTY"
                [ngStyle]="{'--notchSizeHeight':fiftyFiftyActivated && answers.length > 2 ? '35%' : '0%'}"
                *ngFor="let answer of answers; index as i" (click)="returnAnswer(answer)"
                [color]="'yellow'">{{ answer.answerText }}
    </app-button>
  </div>
</section>
