<form id="patient-form" [formGroup]="patientForm">
  <input type="text" placeholder="Image" formControlName="pictureUrl" hidden="hidden"/>
  <app-image-input id="profile-picture" [src]="currentPatient?.pictureUrl" [defaultSrc]="getDefaultProfilePicture(patientForm.get('gender')?.value)"
                   (onImageUpdate)="patientForm.patchValue({pictureUrl: $event})"/>
  <div class="form-inputs">
    <div class="fields">
      <label> Nom :
        <app-input [placeholder]="'Dupont'" formControlName="lastname" />
        <div class="error-container">
          <small *ngIf="patientForm.get('lastname')?.errors?.['pattern']">{{ this.badNameInputText }}</small>
        </div>
      </label>
      <label> Prénom :
        <app-input [placeholder]="'Jean'" formControlName="firstname"/>
        <div class="error-container">
          <small *ngIf="patientForm.get('firstname')?.errors?.['pattern']">{{ this.badNameInputText }}</small>
        </div>
      </label>
      <label id="gender-selection"> Genre :
        <select formControlName="gender">
          <option *ngFor="let gender of genders | keyvalue" [value]="gender.key">{{ gender.value }}</option>
        </select>
        <div class="error-container"></div>
      </label>
      <label> Date de naissance :
        <app-input [type]="'date'" id="start" formControlName="birthDate" [min]="getMinBirthDate()" [max]="getMaxBirthDate()"/>
        <div class="error-container">
          <small *ngIf="patientForm.get('birthDate')?.value && patientForm.get('birthDate')?.errors?.['dateInvalid']">L'âge doit être compris entre 1
            et
            200 ans. (Actuel : {{ patientForm.get('birthDate')?.value | age }} ans)</small>
        </div>
      </label>
    </div>
    <app-button (click)="save()" [disabled]="loading" [color]="'blue'">
      <fa-icon [icon]="faSave" *ngIf="!loading"/>
      <spinner *ngIf="loading"/>
      Valider
    </app-button>
  </div>
</form>

