<form id="patient-form" [formGroup]="patientForm">
  <input type="text" placeholder="Image" formControlName="pictureUrl" hidden="hidden"/>
  <app-image-input id="profile-picture" [src]="currentPatient?.pictureUrl ?? '/assets/profile.png'"
                   (onImageUpdate)="patientForm.patchValue({pictureUrl: $event})"/>
  <label> Nom :
    <input type="text" formControlName="lastname">
  </label>
  <label> Prénom :
    <input type="text" formControlName="firstname">
  </label>
  <label> Age :
    <input type="number" min="0" max="120" formControlName="age">
  </label>
</form>
<div class="submit-button">
  <app-button (click)="save()" [color]="'blue'">Valider</app-button>
</div>
