@use "sass:color";
@import "/colors";

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;

  input:not([hidden]), select {
    width: 11em;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &.ng-invalid:not(option) {
      border-color: $darkRed;
      color: color.scale($darkRed, $lightness: -5%);
    }

    option {
      color: black;
    }

    label {
      width: 10em;
      font-size: 1em;
    }
  }
}

#gender-selection {
  select {
    width: fit-content;
  }
}

app-button {
  width: 9em;
  margin-left: 2em;
}

#profile-picture {
  flex-shrink: 0;
  margin-right: 2em;
  border-radius: 50%;
  border-color: white;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.error-container {
  width: 10em;
  height: 4em;
  font-size: 0.9em;

  small {
    color: #b73e44;
  }
}

.form-inputs {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

app-button {
  display: block;
  height: 2em;
  width: 10em;
  margin-bottom: 2em;
}
