form {
  width: 20vw;
  margin-left: 3vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;

  input {
    display: block;
  }

  :nth-child(2) {
    margin-left: 1rem;
  }

  input, select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label {
    width: 10vw;
    font-size: 1em;
  }
}

.submit-button {
  align-items: center;
  justify-content: center;
  margin-left: 3vw;
  margin-top: 6vw;

  button {
    width: 5em;
    height: 5vh;
    border-radius: 12px;
    cursor: pointer;
  }
}

:host {
  display: flex;
}

#default-profile-picture {
  grid-column: 1;
  border-radius: 50%;
  border-color: white;
  margin-left: 3vw;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

