<div class="historic">
  <div class="historic-header">
    <h2>Choix du quiz pour en visualiser l'historique :</h2>
    <select #quizSelect (change)="quizChoice(quizSelect.value)" name="quizz-select">
      <option value="-1">Selectionnez un quiz</option>
      <option *ngFor="let value of quizStats" [value]="value.id">{{ getTitle(value.quizId) }} ({{ this.datepipe.transform(value.date, 'dd/MM/yyyy') }})</option>
    </select>
  </div>
  <attempt-summary [user]="user" [questionsStats]="quizStat?.questionsStats ?? []" *ngIf="quizSelected"/>
</div>
