$form_color: #205bcbff;
$blue: #255dc8;
$darkBlue: #1b2a56;
$blackBlue: #00090f;
$yellow: #f2e86d;
$grey1: #646464;
$white: #f1f1f1;
$red1: #d12020;
$red2: #ff3232;
$green1: #19c800;

$colors: (
  "white": $white,
  "red": $red1,
  "blue": $blue,
  "dark-blue": $darkBlue,
  "yellow": $yellow
);
