$form_color: #205bcbff;
$blue: #255dc8;
$darkBlue: #1b2a56;
$blackBlue: #00090f;
$yellow: #f2e86d;
$grey: #646464;
$white: #f1f1f1;
$darkRed: #d12020;
$lightRed: #ff3232;
$orange: #f8a30e;
$green: #19c800;
$greenReducedOpacity: rgba(25, 200, 0, 0.5);

$colors: (
  "white": $white,
  "red": $darkRed,
  "blue": $blue,
  "dark-blue": $darkBlue,
  "yellow": $yellow
);
