$form_color: #205bcbff;
$blue: #255dc8;
$darkBlue: #1b2a56;
$blackBlue: #00090f;
$yellow: #f2e86d;
$grey1: #646464;
$white: #f1f1f1;
$red: #d12020;


$colors: (
  "white": $white,
  "red": $red,
  "blue": $blue,
  "dark-blue": $darkBlue,
  "yellow": $yellow
);
