<h2>Général</h2>
<form [formGroup]="patientParametersForm">
  <div class="checkbox-wrapper-14">
    <input formControlName="removeAnswers" id="remove-false-answer" type="checkbox" class="switch">
    <label for="remove-false-answer">Retirer les mauvaises réponses</label>
  </div>
  <div class="checkbox-wrapper-14">
    <input formControlName="replayAtEnd" id="replay-question" type="checkbox" class="switch">
    <label for="replay-question">Rejouer les questions</label>
  </div>
  <div class="checkbox-wrapper-14">
    <input formControlName="automatedSkip" id="automated-skip" type="checkbox" class="switch">
    <label for="automated-skip">Défilement automatique</label>
  </div>
  <div class="checkbox-wrapper-14">
    <input formControlName="answerHint" id="answer-hint" type="checkbox" class="switch">
    <label for="answer-hint">Aide à la réponse (50/50)</label>
  </div>
  <quantity-input [value]="patient?.numberOfQuestion ?? 0" [min]="1" [label]="'Nombre de question par quiz'"
                  (valueChange)="this.onUserOptionsChange.emit($any({numberOfQuestion: $event}))"/>

  <h2>Auditif</h2>
  <div class="checkbox-wrapper-14">
    <input formControlName="soundQuestion"
           id="auditive-question" type="checkbox"
           class="switch">
    <label for="auditive-question">Question auditive</label>
  </div>
  <div class="checkbox-wrapper-14">
    <input formControlName="autoStartAudio" id="audio-launch"
           type="checkbox" class="switch">
    <label for="audio-launch">Lancement automatique audio</label>
  </div>
</form>
