<div class="selects">
<h2>Choix des statistiques</h2>
  <select #quizSelect (change)="quizChoice(quizSelect.value, $any(questionType.value))" name="quizz-select">
    <option value="">Tous les quizz</option>
    <option *ngFor="let quiz of quizList" [value]="quiz.id">{{ quiz.title }}</option>
  </select>
  <select #questionType (change)="quizChoice(quizSelect.value, $any(questionType.value))" [value]="-1"
          name="type-select" id="type-select">
    <option *ngFor="let questionType of questionTypes | keyvalue" [value]="questionType.key">{{ questionType.value }}
    </option>
  </select>
</div>
@if (successRate >= 0) {
  <p>Taux de réussite : {{ successRate.toFixed(1) }}%</p>
  <p *ngIf="answerHint && answerHintRate>=0">Proportion de réponses assistées : {{ answerHintRate.toFixed(1) }}%</p>
  <p *ngIf="quizSelected && spentTime>=0">Temps passé sur le quiz
    : {{ spentTime * 60000 | date:"mm 'minutes' ss 'secondes'":'UTC' }}</p>
  <p *ngIf="quizSelected && averageTimeSpent>=0">Temps moyen par question
    : {{ averageTimeSpent * 60000 | date:"mm 'minutes' ss 'secondes'":'UTC' }}</p>
} @else {
  <h3>Aucune donnée n'est disponible</h3>
}
