<div class="selects">
<h2>Choix des statistiques</h2>
  <select #quizSelect (change)="quizChoice(quizSelect.value, $any(questionType.value))" name="quizz-select">
    <option value="">Tous les quizz</option>
    <option *ngFor="let quiz of quizList" [value]="quiz.id">{{ quiz.title }}</option>
  </select>
  <select #questionType (change)="quizChoice(quizSelect.value, $any(questionType.value))" [value]="-1"
          name="type-select" id="type-select">
    <option *ngFor="let questionType of questionTypes | keyvalue" [value]="questionType.key">{{ questionType.value }}
    </option>
  </select>
</div>
<ng-container *ngIf="(data | keyvalue)?.length; else noAvailableData">
  @switch (data["dataType"]) {
    @case (DataTypes.SUCCESS) {
      <p>Taux de réussite : {{ data?.["successRate"].toFixed(1) }}%</p>
      <p *ngIf="answerHint && data?.['answerHintRate']>=0">Proportion de réponses assistées : {{ data?.["answerHintRate"].toFixed(1) }}%</p>
    }
    @case (DataTypes.TIME) {
      <p *ngIf="quizSelected && data?.['totalTime']>=0">Temps passé sur le quiz
        : {{ data?.['totalTime'] * 60000 | date:"mm 'minutes' ss 'secondes'":'UTC' }}</p>
      <p *ngIf="quizSelected && data?.['averageTime']>=0">Temps moyen par question
        : {{ data?.['averageTime'] * 60000 | date:"mm 'minutes' ss 'secondes'":'UTC' }}</p>
    }
  }
</ng-container>
<ng-template #noAvailableData>
  <h3>Aucune donnée n'est disponible</h3>
</ng-template>
