<patient-header/>
<boxed-container>
  <section class="data-section">
    <article class="diseases">
      <range [subject]="'dementia'" [title]="'Niveau de démence'" [tags]="['Léger','Intermédiaire','Elevé']" />
      <range [subject]="'deafness'" [title]="'Niveau de surdité'" [tags]="['Léger','Intermédiaire','Elevé']" />
      <range [min]="100" [max]="200" [subject]="'font-size'" [title]="'Taille de la police'" [tags]="['100%','200%']"/>
    </article>
    <article>
      <h2>Centre d'intérêts</h2>
      <input type="text">
    </article>
  </section>

</boxed-container>
