@use 'sass:color';
@import "/colors";

button {
  border-radius: .5rem;
  padding: .25em;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: inherit;
  height: inherit;
  font-size: inherit;

  &.no-padding {
    padding: 0;
  }

  &:hover:not(:disabled) {
    transform: scale(1.025);
  }

  @each $colorId, $background in $colors {
    &.button-#{$colorId} {
      background-color: $background;
      border: 1px solid color.scale($background, $lightness: -5%);

      &:hover {
        background-color: color.scale($background, $lightness: +5%);
        border-color: $background;
        box-shadow: 0 0 2px color.scale($background, $lightness: -50%);
      }
    }
  }
}
