@use 'sass:color';

$background: #f1f1f1;

button {
  background-color: $background;
  border: 1px solid color.scale($background, $lightness: -5%);
  border-radius: .5rem;
  padding: 0;
  overflow: hidden;

  &:hover {
    background-color: color.scale($background, $lightness: +5%);
    border-color: $background;
    box-shadow: 0 0 2px color.scale($background, $lightness: -50%);
  }
}
