@import "/styles";

main {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
  height: 100%;
  width: 100%;
}

.quiz {
  font-size: $defaultFontSize;
}

.quiz-content {
  display: flex;
}
