<div class="quiz">
  <div [ngStyle]="{'font-size': user!.fontSize.toString()+'em'}" class="quiz-content">
    <app-header [homePage]="'/quiz'" [interactive]="quiz == undefined">
      <quiz-header [counter]="getCounter()" [quizTheme]="quiz?.theme"
                   [numberOfQuestion]="numberOfQuestions" *ngIf="!selection"></quiz-header>
    </app-header>
    <main>
      <app-quiz-selection (returnQuizSelected)="setQuiz($event)" *ngIf="selection"/>
      <sound-settings *ngIf="soundSetting && !selection" (soundSettingsFinish)="soundSetting=false"/>
      <app-quiz-section [values]="currentQuestion" [user]="user" [finish]="isFinish()"
                        (nextQuestion)='nextQuestion($event)' (returnSelectionPage)="returnSelectionPage()"
                        (replayAtTheEnd)="replayAtEnd()"
                        *ngIf="!soundSetting && !selection"/>
    </main>
  </div>
</div>
