:host {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: white;
    text-decoration: none;
    margin: 0;
  }

  app-button {
    border: solid yellow 2px;
    border-radius: .5rem;
  }
}
